<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sign In</title>
  </head>
  <body>
    <nav>
      <%- include('../partials/_navbar.ejs') %>
    </nav>
    <div class="sign-in">
      <h1 data-ar="!تسجيل دخول" data-en="Sign In!">Sign In!</h1>
      <form action="/auth/sign-in" method="POST">
        <div class="input-feild">
          <label for="username" data-ar=":الاسم" data-en="Username:">Username:</label>
          <input type="text" name="username" id="username" />
        </div>

        <div class="input-feild">
          <label for="password" data-ar=":الرمز السري" data-en="Password:">Password:</label>
          <input type="password" name="password" id="password" />
        </div>

        <button type="submit" data-ar="تسجيل دخول" data-en="Sign in">Sign in</button>
      </form>
    </div>
  </body>
</html>
