<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <nav class="navbar">
        <a href="/">الرئيسية</a>
        <a href="/product">المتجر</a>
        <a href="/cart">السلة</a>
        <!-- langue change boutton-->
        <button id="lang-toggle">English</button>
        </nav>

        <% if(user && user.role=='admin') { %>
        <a href="/">Home</a>
        <a class="add-product" href="/product/new">creat a new product</a>
        <a class="vistShop" href="/product">Vist the shop</a>
        <a class="order-list" href="/admin/orders">view oredrs</a>
        <a href="/auth/sign-out">Sign Out</a>

        <% } else if (user && user.role=='user') { %>
        <a href="/auth/sign-out">Sign Out</a>
        <a class="vistShop" href="/product">Vist the shop</a>
        <a href="/">Home</a>
        <a href="/cart">Cart</a>

        <% } else { %>
        <a href="/product">Visit the shop</a>
        <a href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up">Sign Up</a>
        <a href="/cart">Cart</a>
        <% } %>
    </nav>
    <br>
    <% if(user) { %>
      <a class="username" id="username"> Hello <%= user.username %></a>
    <% } %>

    <!-- langue change sctipt-->
    <script>
        const toggleBtn = document.getElementById('lang-toggle');
        toggleBtn.addEventListener('click', () => {
            const currentLang = document.documentElement.lang;
            if(currentLang === 'ar') {
            document.documentElement.lang = 'en';
            toggleBtn.textContent = 'عربي';
            document.querySelectorAll('[data-ar]').forEach(el => {
                el.textContent = el.dataset.en;
            });
            } else {
            document.documentElement.lang = 'ar';
            toggleBtn.textContent = 'English';
            document.querySelectorAll('[data-ar]').forEach(el => {
                el.textContent = el.dataset.ar;
            });
            }
        });
    </script>    
</body>
</html>
