<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="nav1">
        <% if(user && user.role=='admin') { %>
        <a href="/">Home</a>
        <a class="add-product" href="/product/new">creat a new product</a>
        <a class="vistShop" href="/product">Vist the shop</a>
        <a class="order-list" href="/admin/orders">view oredrs</a>
        <a href="/auth/sign-out">Sign Out</a>

        <% } else if (user && user.role=='user') { %>
        <a href="/auth/sign-out">Sign Out</a>
        <a class="vistShop" href="/product">Vist the shop</a>
        <a href="/">Home</a>
        <a href="/cart">Cart</a>

        <% } else { %>
        
        <a href="/" data-ar="الرئيسية" data-en="Home"></a>
        <a href="/product" data-ar="المتجر" data-en="Vist Shop"></a>
        <a href="/cart" data-ar="السلة" data-en="Cart"></a>
        <a href="/auth/sign-in" data-ar="لتسجيل دخول" data-en="sign-in"></a>
        <a href="/auth/sign-up" data-ar="تسجيل حساب" data-en="Sign-up"></a>
        <!-- langue change boutton-->
        <button id="lang-toggle">English</button>
        <% } %>
    <br>
    <% if(user) { %>
      <a class="username" id="username"> Hello <%= user.username %></a>
    <% } %>

    <!-- langue change sctipt-->
    <script>
        const toggleBtn = document.getElementById('lang-toggle');
        toggleBtn.addEventListener('click', () => {
            const currentLang = document.documentElement.lang;
            if(currentLang === 'ar') {
            document.documentElement.lang = 'en';
            toggleBtn.textContent = 'عربي';
            document.querySelectorAll('[data-ar]').forEach(el => {
                el.textContent = el.dataset.en;
            });
            } else {
            document.documentElement.lang = 'ar';
            toggleBtn.textContent = 'English';
            document.querySelectorAll('[data-ar]').forEach(el => {
                el.textContent = el.dataset.ar;
            });
            }
        });
    </script>
    </nav>    
</body>
</html>
