<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Home Page</title>
</head>
  <body>
  <%- include('./partials/_navbar.ejs') %>
    <div class="welcome-page"> 
      <h1 data-ar="مرحبا بكم في متجر دار عارف للثوب العربي" data-en="Welcome to Dar Aref Shop">
      مرحبا بكم في متجر دار عارف للثوب العربي
    </h1>
      <p data-ar="هنا حيث تلتقي الأصالة بالأناقة العربية، حيث الجودة تتجاوز الخيال - ودار عارف هي خيارك الأول لأناقتك العربية" 
        data-en="Here is where authenticity meets Arab elegance, where quality exceeds imaginations - and Dar Aref is your first choise for your Arabian elegance">
    هنا حيث تلتقي الأصالة بالأناقة العربية، حيث الجودة تتجاوز الخيال - ودار عارف هي خيارك الأول لأناقتك العربية </p>
    </div>
  </body>
</html>