<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Order Successful</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1>Thank you for your order!</h1>
  <p>Your order has been received and is being processed.</p>
  <a href="/product">Continue Shopping</a>
</body>
</html>
