<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add New product</title>
</head>
<body>
  <h1>Add a New product</h1>
  <a>Hello <%= user.username %></a>
  <form action="/product" method="POST" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>

        <label for="category">category type:</label>
        <select name="category-option" id="category-option">
          <option value="head-ware">head ware</option>
          <option value="foot-ware">foot ware</option>
        </select>

        <label for="description">Description:</label>
        <input type="text" name="description" id="description" required>

        <label for="image">product Image:</label>
        <input type="file" name="image" id="image">

        <label for="price">price: </label>
        <input type="number" name="price" id="price" class="price" required>
        
        <button type="submit">Add product</button>

  </form>
  <a href="/products">Back to products</a>
</body>
</html>
